[workspace]
members = [
  "stream",
  "sharding",
  "endpoint",
  "protocol",
  "agent",
  "net",
  "discovery",
  "context",
  "log",
  "metrics",
  "ds",
  "rt",
  "tests",
  "tests_integration",
]

exclude = ["api", "tests"]


[profile.release-test]
inherits = "release"

[profile.release]
panic = "abort"
overflow-checks = false
debug = false
codegen-units = 1
lto = "fat"
opt-level = 3
strip = "none"

[profile.release-perf]
inherits = "release"
strip = "none"
codegen-units = 256
