[package]
name = "ds"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = { path = "../log" }
tokio = {version = "1.21.2", features = ["rt", "net", "rt-multi-thread", "time", "macros"]}

byteorder = "1.4.3"
rand = "0.8.4"
atomic-waker = "*"
