[package]
name = "metrics"
version = "0.1.0"
authors = ["mingzhe10 <mingzhe10@staff.weibo.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#log = { path = "../log" }

once_cell = "1.8.0"
local-ip-address = "0.4.2"
tokio = "1.10.0"
lazy_static = "1.4.0"
futures = "0.3.16"
log = "0.4.14"
local_ipaddress = "0.1.3"
thread-id = "*"
